@charset "UTF-8";
/*
 * Breakpoint mixins to ease development conditions
 */
form.slideform-form {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
form.slideform-form .slideform-track {
  overflow: hidden;
  flex: 1;
}
form.slideform-form .slideform-wrapper {
  transition: all 1s ease;
}
.slideform-wrapper{
    /*transform: translateY(0%) !important;*/
}
form.slideform-form .slideform-slide {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-overflow-scrolling: touch;
  opacity: 0;
  transition: opacity 0.5s ease;
  overflow: auto;
  box-sizing: border-box;
}
form.slideform-form .slideform-slide.active {
  opacity: 1;
}
@media screen and (max-width: 767px) {
  form.slideform-form .slideform-slide {
    display: block;
  }
}
form.slideform-form .slideform-group {
  max-width: 600px;
  padding: 30px 15px;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  form.slideform-form .slideform-group {
    margin: auto;
  }
}
form.slideform-form .slideform-btn {
    position: relative;
    font-family: inherit;
    font-weight: 400;
    font-size: 23px;
    cursor: pointer;
    transition-duration: 0.1s;
    transition-property: background-color, color, border-color, opacity, box-shadow;
    transition-timing-function: ease-out;
    outline: none;
    border: 1px solid transparent;
    margin: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
    padding: 6px 14px;
    min-height: 40px;
    background-color: rgb(255, 255, 255);
    color: rgb(128, 128, 128);
    border-radius: 4px;
    margin-top: 15px;
}
form.slideform-form .slideform-btn:active {
  border-color: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
}
form.slideform-form .slideform-btn:disabled {
  background: #f6f6f6;
  border: 1px solid #f6f6f6;
  color: #E0E0CE;
}
form.slideform-form input:not([type=checkbox]):not([type=radio]):not([type=submit]),
form.slideform-form textarea {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  box-sizing: border-box;
  outline: none;
  border-radius: none;
  background: #f6f6f6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
form.slideform-form input:not([type=checkbox]):not([type=radio]):not([type=submit]):focus,
form.slideform-form textarea:focus {
  border-bottom: 1px solid #ffb677;
}
form.slideform-form input[type=text], form.slideform-form input[type=email], form.slideform-form input[type=tel], form.slideform-form input[type=number] {
  height: 50px;
}
form.slideform-form input[type=text].small, form.slideform-form input[type=email].small, form.slideform-form input[type=tel].small, form.slideform-form input[type=number].small {
  height: 40px;
  padding: 10px 15px;
  font-size: 16px;
}
form.slideform-form .options-list label {
  display: block;
  margin: 0;
  padding: 10px 0;
}
form.slideform-form .options-list input[type=checkbox], form.slideform-form .options-list input[type=radio] {
  position: absolute;
  z-index: -1;
  visibility: hidden;
  width: auto;
  height: auto;
}
form.slideform-form .options-list input[type=checkbox]:checked + span:after, form.slideform-form .options-list input[type=radio]:checked + span:after {
  opacity: 1;
  transform: scale(1);
}
form.slideform-form .options-list input[type=checkbox] + span, form.slideform-form .options-list input[type=radio] + span {
  display: inline-block;
  position: relative;
  font-weight: 600;
}
form.slideform-form .options-list input[type=checkbox] + span:before, form.slideform-form .options-list input[type=radio] + span:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background: #f6f6f6;
  border: 1px solid #E0E0CE;
}
form.slideform-form .options-list input[type=checkbox] + span:after, form.slideform-form .options-list input[type=radio] + span:after {
  font-family: "slideform" !important;
  display: inline-block;
  content: "\F00C";
  font-size: 22px;
  color: #FF7F11;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  text-align: center;
  line-height: 30px;
  opacity: 0;
  transform: scale(3);
  transition: all 0.3s ease;
}
form.slideform-form .options-list input[type=radio] + span:before {
  border-radius: 50%;
}
form.slideform-form .options-list input[type=radio] + span:after {
  content: "";
  width: 16px;
  height: 16px;
  background: #FF7F11;
  border-radius: 50%;
  top: 8px;
  left: 8px;
}
form.slideform-form .options-buttons label {
  margin: 0 5px 15px 0;
  display: inline-block;
  text-transform: none;
}
form.slideform-form .options-buttons input[type=radio], form.slideform-form .options-buttons input[type=checkbox] {
  position: absolute;
  left: -9999px;
}
form.slideform-form .options-buttons input[type=radio]:checked + span, form.slideform-form .options-buttons input[type=checkbox]:checked + span {
  background: #FF7F11;
  border: 1px solid #FF7F11;
  color: #fff;
}
form.slideform-form .options-buttons input[type=checkbox] + span, form.slideform-form .options-buttons input[type=radio] + span {
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  background: #f6f6f6;
  border: 1px solid #E0E0CE;
  padding: 5px 20px;
  width: auto;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 4px;
  font-weight: 600;
}
form.slideform-form label.error {
  color: #F93943;
  display: block;
  font-size: 14px;
  margin-top: 5px;
  text-transform: none;
}
form.slideform-form .slideform-condition {
  display: none;
}
form.slideform-form .slideform-footer {
  background: transparent;
  padding: 0 15px;
  border-top: 0px solid #f6f6f6;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
form.slideform-form .slideform-footer .slideform-btn {
  height: 30px;
  display: inline-block;
  line-height: 30px;
  font-size: 20px;
  margin: 0 5px;
}
form.slideform-form .slideform-progress-bar {
  height: 10px;
  border-radius: 5px;
  max-width: 200px;
  background: #f6f6f6;
  display: inline-block;
  overflow: hidden;
  line-height: 0;
  flex: 1;
  margin-right: 20px;
}
form.slideform-form .slideform-progress-bar span {
  display: inline-block;
  width: 0%;
  height: 100%;
  background: #555;
  transition: all 0.5s ease;
}

@font-face {
  font-family: "slideform";
  src: url("../fonts/slideform.eot?p7vt47");
  src: url("../fonts/slideform.eot?p7vt47#iefix") format("embedded-opentype"), url("../fonts/slideform.ttf?p7vt47") format("truetype"), url("../fonts/slideform.woff?p7vt47") format("woff"), url("../fonts/slideform.svg?p7vt47#slideform") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "slideform" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\F00C";
}

.icon-close:before {
  content: "\F00D";
}

.icon-remove:before {
  content: "\F00D";
}

.icon-times:before {
  content: "\F00D";
}

.icon-chevron-left:before {
  content: "\F053";
}

.icon-chevron-right:before {
  content: "\F054";
}

.icon-chevron-up:before {
  content: "\F077";
}

.icon-chevron-down:before {
  content: "\F078";
}

.icon-paper-plane:before {
  content: "\F1D8";
}

.icon-send:before {
  content: "\F1D8";
}
